@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.navbar{
    display: flex;
    margin-top: 12px;
    justify-content: center;
}

.navbar .logo img{
    height: 20px;
}

.navbar .nav-icons img{
    height: 18px;
    margin-left: 25px;
}

.navbar ul{
    display: flex;
    list-style: none;
    
}

.navbar ul li{
    margin-left: 32px;
    font-size: 12px;
}

.offers{
    padding-top: 28px;
    padding-bottom: 24px;
    background-color: black;
    color: white;
    text-align: center;
}

.offers a{
    color: blue;
    text-decoration: none;
}

.ad-video video{
    width: 100%;
}

.services img{
    height: 30px;
    display: flex;
}

.services a{
    color: blue;
    text-decoration: none;
}

.section{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    margin-top: 30px;
    background-color: lightgray;
}

.titles h1{
    font-size: 40px;
}

.products{
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    background-color: lightgray;
}

.product img{
    height: 90px;
    padding-bottom: 10px;
}

.product a{
    text-decoration: none;
    color: black;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

.titles span{
    color: grey;
}

.latest span{
    color: gray;
}

.latest{
    margin-top: 30px;
    text-align: center;
    margin-bottom: 250px;
}

.cards{
    display: flex;
    margin-top: 48px;
    margin: 40px;
}

.card-black{
    height: 480px;
    width: 420px;
    text-align: center;
    margin-left: 40px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background-color: black;
}

.card-white{
    height: 480px;
    width: 420px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.card-black span{
    color: white;
}

.card-black h1{
    color: white;
}

.card-black h2{
    color: white;
}

.card-black img{
    height: 250px;
    width: 240px;
}

.card-white img{
    height: 250px;
    width: 240px;
}

.card-white h1{
    font-size: 26px;
}

.card-black h1{
    font-size: 35px;
}

.card-black h2{
    font-size: 16px;
}






